/* ==========================================================================
   TABLES
   ========================================================================== */

   /* styles.css */
#publications-container {
  margin: 20px;
}

.publication {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
}

#pagination {
  margin: 20px;
  text-align: center;
}

.pagination-button {
  margin: 0 5px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  cursor: pointer;
}

table {
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  // border: 1px solid $light-gray;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: $lighter-gray;
  // border-bottom: 1px solid $light-gray;
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  // border-right: 1px solid $light-gray;
}
tr {
  padding-bottom: .5em;
  padding-top: .5em;
}
td {
  padding: .5em;
  border-bottom: 1px solid $light-gray;
  // border-right: 1px solid $light-gray;
}

tr, td, th {
  vertical-align: middle;
}